.adm-product-card{
    width:300px;height: auto;;   
    margin-right: 30px;
}
.product-img-wrapper{
    position: relative;
}
.adm-product-img{
    width: 100%;
}
.admCommon{
    margin-bottom:10px;
}
.admCommon > span{
    font-weight: bold;
}
.adm-name{
    height: 50px;
}
#admLoginButton {
    font-family: Lato, sans-serif;
    color: #fff;
    background-color: #333;
    font-size: 14px;
    width: calc(50% - 5px);
    height: 40px;
    margin-right: 10px;
}
#admDelete{
    font-family: Lato, sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    height: auto;
    margin: 0 auto;
    width: calc(50% - 5px);
    height: 40px;
}
.product-delivery-wrapper > ul > li {
    width: 25%;
    display: inline-block;
    font-family: 'Uiyeun';
    font-size: 35px;
    position: relative;
}
.product-delivery-wrapper > ul{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
.product-delivery-wrapper > ul > li ::after {
    content: ' > ';
    position: absolute;
    top: 11px;
    right: 0;
}
.product-delivery-wrapper > ul > li:nth-of-type(n+4) ::after {
    content: '';
}
#product-list{
    margin-bottom:50px;
}
.Comment_response_length{
    width: 25%;
    display: inline-block;
    font-family: 'Uiyeun';
    font-size: 35px;
    position: relative;
}