.totalPriced{
    font-size: 29px;
    text-decoration: underline;
    margin: 20px 0px;
    /* font-weight: bold; */
    font-family: 'Uiyeun';
}
.registerTop2{
    font-weight: bold;
    margin:30px 0 20px;
}
@media screen and (max-width:800px) {
    .registerTop2{
        margin:95px 0 20px !important;
    }

}