.App {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100vw;
}

.user {
border: 2px solid black;
border-radius: 10px;
background-color: #b3e3ff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 500px;
height: 300px;
margin: 20px;
}

.paginationBttns {
width: 80%;
height: 40px;
list-style: none;
display: flex;
justify-content: center;
margin: 50px auto;
}

.paginationBttns a {
    padding: 7px 14px;
    font-family: 'Uiyeun';
    font-size: 20px;
    border-radius: 22px;
    margin: 8px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

.paginationBttns a:hover {
color: white;
background-color: #000;
}

.paginationActive a {
color: white;
background-color: #000;
}

.paginationDisabled a {
color: grey;
background-color: grey;
opacity: 0;
}