.QnaTitle{
    font-size: 28px;
    font-size: 38px;
    font-family: 'Gilroy';
    margin: 50px auto;
}
.designNew{
    margin-left: 5px;
    color: crimson;
    padding: 2px;
    font-family: 'Gilroy';
    font-size: 13px;
}
.marginleft5{
    margin-right: 5px;
}