.QnaWrapper{
    width: 50%;
    margin: 50px auto;
}
.QnaWrapper > div {
    overflow: hidden;
    position: relative;
    padding: 14px 0 14px 7px;
    min-height: 50px;
    color: #757575;
    border-bottom: 1px solid #ececec;
    text-align: left;
}
.QnaWrapper_title{
    font-size: 37px;
    font-family: 'Uiyeun';
    margin: 15px 0;
    color: black !important;
}
.QnaWrapper_title2{
    font-family: 'Uiyeun';
    font-size: 23px;
}
.ant-input-lg{
    margin-left: inherit !important;
    width: 100% !important;
}
.isDesc{
    padding: 50px 0 !important;
}
#submit-button{
    margin: inherit !important;
    height: inherit !important;
}
.CommentWrapper{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.p{
    padding: 10px;
}
.comment_name{
    font-size: 23px;
    font-family: 'Uiyeun';
    color: black;
}
.comment_desc{
    margin: 0 14px;
}
.button_wrapper{
    text-align: right !important;
}
.updateQna{
    font-family: Lato, sans-serif;
    border-radius: 4px;
    color: #fff;
    background-color: #333;
    border: 1px solid transparent;
    font-size: 14px;
    margin-right: 7px;
    margin-left: 7px;
    width: 50px;
    height: 35px;
}

.deleteQna{
    font-family: Lato,sans-serif;
    border-radius: 4px;
    color: #fff;
    background-color: crimson;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    width: 50px;
    height: 35px;
}
.listQna{
    font-family: Lato,sans-serif;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    width: 50px;
    height: 35px;
}
.closeBoxWrapper{
    margin-left: 15px;
    color: tomato;
    cursor: pointer;
}