* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: auto !important;
  position: relative;
}
body{
  background-color: #fff!important;
}
#header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  /* position: absolute;
  top: 0; */
  z-index: 1;
}

#header-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}

#body {
  min-height: 100vh;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 24px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}


.slider-slide > a {
  pointer-events: none;
}
.am-carousel-wrap-dot > span{background:white!important;
}
.am-carousel-wrap-dot-active > span{
  background:rgb(255, 167, 233)!important;
}
.am-carousel-wrap-dot-active > span {
  width: 7px!important;
  height: 7px!important;
  background: #ea2027!important;
  position: relative!important;
  transform: rotate(45deg)!important;
  border-radius: 0!important;
}
.am-carousel-wrap-dot-active > span::before,
.am-carousel-wrap-dot-active > span::after {
  content: ""!important;
  width: 7px!important;
  height: 7px!important;
  position: absolute!important;
  border-radius: 50%!important;
  background: #ea2027!important;
  left: -0%!important;
}
.am-carousel-wrap-dot-active > span::before {
  left: -50%!important;
}
.am-carousel-wrap-dot-active > span::after {
  top: -50%!important;
}
.slider-slide{
  /* width: 1000px !important; */
  /* -ms-transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	transform: translateX(50%); */
}

.slider-list{text-align: center!important;margin:0 auto!important;}
.am-carousel{
  width:700px!important;
  margin:0 auto!important;
}



/* 추가된 내역들  210720 */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  padding: 170px 0px;
  border-radius: 5px;
  margin: 0 auto;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}



.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}
.btn-ok{
  cursor: inherit!important;
  background-color: dodgerblue!important;
}

form > span {
  color: red;
}
/* login */

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  /* width: 200px; */
  height: 50px;
  border-radius: 8px;
  border: none;
  /* margin: 10px; */
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

button{
  cursor: pointer;
}
/* 페이지네이션 */
.container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.container li {
  list-style: none;
  border: 1px solid #828282;
}

.pagination li {
  display: inline-block;
  background: #dedede;
  overflow: hidden;
}

.pagination li a {
  text-decoration: none;
  width: 10px;
  height: 10px;
}

.pagination li a:focus{
 background-color: yellow;
}

.react-audio-player  {
    width: 143px;
    top: -15px;
    opacity: 0.6;
    position: absolute;
}
.react-audio-player:nth-of-type(2){
  /* display:none; */
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  font-size: 35px!important;
}
.upload-label{
  font-weight: bold;
}
/* 400px까지는 이렇게 하겠다 */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  /* background-color: #2f3542; */
  background-color: black;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/* footer */
.Footer{
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
  margin-top: 100px;
}
.FooterWrapper{
  /* font-family: 'u'; */
  font-size: 12px;
}
.dpspan{
  display: inline-block !important;
}
.FooterWrapper > div {
  margin: 5px auto;
}
#setAddressBtn {
  font-family: Lato,sans-serif;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
  border: 1px solid transparent;
  height: 40px;
  width: 50px;
  font-size: 14px;
  margin-right: 8px;
}
#ClosesetAddressBtn {
  font-family: Lato,sans-serif;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  height: 40px;
  width: 50px;
  font-size: 14px;
}
#wrapperBtn{
  margin-top: 10px;
}
@media screen and (max-width:800px) {
  
  .product-card{
    width:calc(50% - 40px)!important;
    margin-right:10px!important;

  }
  .menuBar{
    width: 100% !important;
  }
  #header { 
    padding:0 8px;
  }
  #body{
    padding:0 8px;
  }
  .ant-carousel {
    margin: 0 -8px;
  }
  .am-carousel{
    width: inherit;
  }
  .am-carousel{width:inherit!important;}
  #product-list{width:100%!important;}
  /* .menuCon{
    padding: 45px 0px !important;
  } */
  .barsMenu{
    width: 31px !important;
  }
  .formContainer {
    width: 100% !important;padding: 0px 30px !important;
  }
  .dpspan{
    display: block !important;
  }
  .ant-menu-item{
      height: 40px !important;
  }
  .react-audio-player  {
      width: 100% !important;
      top: 0px !important;
  }
}